.meal-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  max-width: 100%;
  justify-items: start;
  align-items: start;
  place-content: start;
  min-height: 0;
  height: auto;
  margin: 0;
  padding: 0;
  align-self: start;
}

.meal-item {
  cursor: pointer;
  border-radius: 8px;
  padding: 8px;
  background-color: #f9f9f9;
  transition: background-color 0.2s, transform 0.2s;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

}

.meal-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 8px;
}

.meal-item span {
  font-size: 1.1rem;
  font-weight: 600;
}

.meal-item:focus {
  outline: 2px solid #007bff;
  outline-offset: 2px;
}


@media (max-width: 1810px) {
  .meal-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1350px) {
  .meal-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1096px) {
  .meal-list {
    padding-left: 150px;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 967px) {
  .meal-list {
    padding-left: 270px;
    grid-template-columns: repeat(3, 1fr);
  }
}